[Unit]
After=multi-user.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/.airQuality_auto
Restart=always
RestartSec=5
Type=idle
ExecStart=/usr/bin/python2  /home/pi/aqi.py

[Install]
WantedBy=default.target
